html {
  font-size: 14px;
  margin: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #130722;
  color: #b1b0b2;

}

div.container {
  padding: 20px;
  max-width: 680px;
  max-height: 600px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: white;
}

div.logo
{
  background-image: url("../img/metalama.svg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  margin-bottom: 20px;
}

div.arrow-buttons > div {
  display: block;
  background-image: url("../img/tag-dark-purple.svg");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-color: #250d45;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 20px;
  padding: 20px 20px 20px 100px;
  cursor: pointer;
}

div.arrow-buttons > div:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

div.checkbox {
  display: flex;
  align-content: start;
  margin-bottom: 20px;
}

div.checkbox input {
  margin-top: 8px;
  margin-bottom: auto;
  margin-right: 10px;
}



/* Style for all text inputs */
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  background-color: #1e1e1e;
  color: #fff;
}

/* Enhancing the look of checkboxes */
input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
  accent-color: #4d4dff; /* Change the color of the checkbox */
}

/* Styling for labels */
label {
  margin-left: 5px;
  cursor: pointer;
}

/* Styling for buttons */
button {
  background-color: #4d4dff; /* Bright color for buttons */
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3a3aff;
}

/* Adding some hover effects for text inputs */
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

/* Focus effect for text inputs */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea {
  outline: none;
  box-shadow: 0 0 10px rgba(77, 77, 255, 0.6);
}

.continue-button {
  text-align: right;
}