@page
@using Metalama.Backstage.Licensing.Registration
@model ChooseLicenseKindPageModel
@inject ILicenseRegistrationService LicenseRegistrationService

<script>
    function submitForm(buttonValue) {
        document.getElementById('action').value = buttonValue;
        document.forms[0].submit();
    }
</script>

<form method="POST">
    <input type="hidden" id="action" name="action" value=""/>

    <div class="arrow-buttons">
        <div onclick="submitForm('StartFree')">
            <h4>Use Metalama [Free]</h4>
            <p>
                Discover the essentials with Metalama [Free] — your gateway to cleaner code.
                Ideal for an initial foray, with an easy upgrade path when you're ready for more.
            </p>
        </div>

        @if (LicenseRegistrationService.CanRegisterTrialEdition)
        {
            <div onclick="submitForm('StartTrial')">
                <h4>Start a 45-day Trial of Metalama [Ultimate]</h4>
                <p>Discover the full capabilities of Metalama Ultimate.</p>
                <p>
                    For teams with extended procurement processes, request a
                    <a href="@Model.WebLinks.GetTeamTeamTrial" target="_blank" onclick="event.stopPropagation()">60-day renewable team evaluation key</a> 
                    (available for teams of 5 or more developers).
                </p>
            </div>
        }

        <div onclick="submitForm('RegisterKey')">
            <h4>Activate Your License Key</h4>
            <p>Register your license key and associate it with your user profile on this device.</p>
        </div>

        <div onclick="submitForm('Skip')">
            <h4>Choose Repository-Based Licensing</h4>
            <p>Go for this option to streamline Metalama license key management through your source repositories, eliminating those <i>Activate Metalama</i> notifications.</p>

        </div>
    </div>
</form>