@page
@using Metalama.Backstage.UserInterface
@model ConsentsPageModel
@inject WebLinks WebLinks;

@section Scripts {

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
        function onSubmit(token) {
            if ($('#subscribeToNewsletterCheckbox').is(':checked')) {
                $('#recaptchaResponse').val(token);
            }
         
            $('form').submit();
        }
        
         $(document).ready(function() {
                // Select the 'Accept All' checkbox using its ID
                $('#AcceptAll').change(function() {
                    // Check or uncheck all other checkboxes based on 'Accept All' state
                    var isChecked = $(this).is(':checked');
                    $('input[type="checkbox"]').not(this).prop('checked', isChecked);
                });
        
             
            });
</script>
}

<form method="post">
    @if (Model.IsDeviceOnline)
    {
        <input id="recaptchaResponse" type="hidden" asp-for="RecaptchaResponse "/>

        <div class="checkbox">
            <input id="subscribeToNewsletterCheckbox" type="checkbox" asp-for="SubscribeToNewsletter ">
            <div class="label">
                <p>
                    <label asp-for="SubscribeToNewsletter ">Subscribe to the Metalama newsletter and the welcome e-mail course.</label>
                    <small>You can unsubscribe or change your preferences at any time.</small>
                </p>
                <p>
                    <label asp-for="EmailAddress ">Email:</label> <input type="text" asp-for="EmailAddress ">
                </p>

            </div>
        </div>
    }
    <div class="checkbox">
        <input type="checkbox" asp-for="EnableTelemetry ">
        <div class="label">
            <label asp-for="EnableTelemetry ">Help improve Metalama by sending <a href="@WebLinks.PrivacyPolicy" target="_blank">anonymous usage and performance statistics</a>.</label>
        </div>
    </div>

    <div class="checkbox">
        <input type="checkbox" asp-for="AcceptLicense ">
        <div class="label">
            <label asp-for="AcceptLicense ">
                I accept the terms of the <a href="@WebLinks.LicenseAgreement" target="_blank">License Agreement</a> and the <a href="@WebLinks.PrivacyPolicy" target="_blank">Privacy Policy</a>. I understand
                that the software is subject to License Audit and I consent with the collection of usage data.
            </label>
        </div>
    </div>


    <div class="checkbox">
        <input type="checkbox" id="AcceptAll" name="AcceptLicense" value="true">
        <div class="label">
            <label for="AcceptAll" style="font-size: 110%">
                <b>Accept All</b>
            </label>
        </div>
    </div>
    <div class="continue-button">
        @if (Model.IsDeviceOnline)
        {
            <button type="submit" class="g-recaptcha" data-sitekey="@Model.RecaptchaSiteKey" data-callback="onSubmit">Continue</button>
        }
        else
        {
            <button type="submit">Continue</button>
        }
    </div>

</form>


@foreach (var error in Model.ErrorMessages)
{
    <div class="text-danger">
        @error
    </div>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>