@page
@model DonePageModel

@* This content is only shown when offline. See the OnGet method. *@

<p class="text-center">Thank you for activating Metalama.</p>
<p class="text-center">You can now close this window.</p>