@page
@{
    ViewData["Title"] = "Index";
}


<div class="arrow-buttons">
    <div onclick="location.href='/Setup'">
        <h4>Activate Metalama</h4>
        <p>
            Execute the initial configuration wizard.
        </p>
    </div>
</div>

<p style="margin-top: 40px">
    It's almost empty here!
</p>
<p>
    Please use the <code>metalama</code> CLI tool for most configuration commands.
</p>
