@page
@model Metalama.Backstage.Pages.RegisterModel

<h1>Register Metalama</h1>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        function onSubmit(token) {
            $("#licenseForm").submit();
        }

        $(document).ready(function() {
            $('input[type=radio][name=LicenseKind]').change(function() {
                if (this.value == 'Other') {
                    $("#licenseInputDiv").show();
                } else {
                    $("#licenseInputDiv").hide();
                }
            });
        });
    </script>

@foreach (var error in Model.ErrorMessages)
{
    <div class="text-danger">
        @error
    </div>
}


<form id="licenseForm" method="POST">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <h2>Choose a license kind</h2>
        <input type="radio" id="trialLicenseKind" asp-for="LicenseKind " value="Trial">
        <label for="">Trial</label><br>
        <input type="radio" id="free" asp-for="LicenseKind " value="Free">
        <label for="free">Free</label><br>
        <input type="radio" id="other" asp-for="LicenseKind " value="Other">
        <label for="other">Other</label>
    </div>
    <div id="licenseInputDiv" style="display:none;">
        <label for="license">License:</label><br>
        <input type="text" id="license" name="License">
    </div>
    <div>
        <h2>Consents</h2>
    </div>
    <div>
        <input type="checkbox" asp-for="AcceptLicense ">
        <label asp-for="AcceptLicense ">Accept License Agreement</label>
    </div>
    <div>
        <input type="checkbox" asp-for="EnableTelemetry ">
        <label asp-for="EnableTelemetry ">Enable Telemetry</label>
    </div>
    <div>
        <input type="checkbox" asp-for="SubscribeToNewsletter ">
        <label asp-for="SubscribeToNewsletter ">Subscribe to Newsletter</label>
    </div>
    <div>
        <label asp-for="EmailAddress ">Email Address:</label><br>
        <input type="text" asp-for="EmailAddress ">
    </div>
    <div>
        <input type="checkbox" id="acceptAll" name="AcceptLicense" value="true">
        <label for="acceptAll">Accept All</label>
    </div>
    <div class="g-recaptcha" data-sitekey="@Model.RecaptchaSiteKey" data-callback="onSubmit"></div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>